/*======= Ginral Classes =======*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}
.head-title{
    text-align: center;
    padding-bottom: 30px;
}
.head-title h2{
    color: #37517e;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
}
.head-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    bottom: 1px;
    left: calc(50% - 60px);
    background-color: #ddd;
}
.head-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    bottom: 0;
    left: calc(50% - 20px);
    background-color: #47b2e4;
}
/*======= Ginral Classes =======*/

/*======= start navbar section =======*/
header .navbar{
    transition: .5s;
    z-index: 99;
}
header .navbar.sticky{
    background-color: #24395e;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
}
.navbar-collapse{
    flex-grow: inherit;
}
.navbar-collapse button.btn{
    margin-left: 35px;
    padding: 8px 20px;
    background-color: #37517e;
    border: 2px solid #47b2e4;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.navbar-collapse button.btn:hover{
    background-color: #47b2e4;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    padding: 0 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.navbar-collapse .navbar-nav .nav-item .nav-link.active{
    color: #47b2e4;
}
.navbar-collapse .navbar-nav .nav-item:hover .nav-link{
    color: #47b2e4;
}
/*======= End navbar section =======*/

/*======= Start head section =======*/
section.head{
    background-color: #37517e;
}

section.head .head-content{
    margin-top: 130px;
}
section.head .head-content h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}
section.head .head-content p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
}
section.head .head-content .btn{
    margin-top: 40px;
}
section.head .head-content .start-btn{
    background-color: #47b2e4;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 8px 25px;
    border-radius: 50px;
}
section.head .head-content .start-btn:hover{
    background-color: #28a2db
}
section.head .head-content .play-btn{
    color: #fff;
    font-size: 19px;
    margin-left: 50px;
    position: relative;
}
section.head .head-content .play-btn i{
    position: absolute;
    font-size: 35px;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -75px;
}
section.head .head-content .play-btn i:hover{
    color: #47b2e4;
}
section.head .head-img img{
    width: 100%;
    animation: animate 5s ease-in-out infinite;
}
section.head .up-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 45px;
    background-color: #47b2e4;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    transition: .8s;
}
section.head .up-btn.show{
    opacity: 1;
}
@keyframes animate{
    0%,100%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(-10px);
    }

}
@media (max-width: 576px){
    section.head .head-img{
        animation: animate none;
    }
    @keyframes animate{
        0%,100%{
            transform: translate(0);
        }
    }
}
@media (max-width: 768px){
    section.head .head-img{
        margin-top: 40%;
        animation: animate none;
    }
    @keyframes animate{
        0%,100%{
            transform: translate(0);
        }
    }
}

/*======= End head section =======*/

/*======= Start logo section =======*/
section.logos{
    padding: 10px 0 10px 30px;
    background-color: #f3f5fa;
}
section.logos .logo-1 img{
    max-width: 45%;
    height: auto;
    text-align: center;
    padding: 20px 0;
    vertical-align: middle;
    filter: grayscale(100);
    transition: all .5s;
}
section.logos .logo-1 img:hover{
    filter: none;
    transform: scale(1.2);
}
/*======= End logo section =======*/

/*======= Start About us section =======*/
section.about{
    padding: 60px 0;
}

section.about .right-box, .left-box{
    color: #444444e1;
}
section.about .right-box p{
    font-size: 17px;
}
section.about .right-box ul{
    list-style: none;
    margin-left: -30px;
}
section.about .right-box ul li{
    line-height: 2;
}
section.about .right-box ul li i{
    color: #47b2e4;
    padding-right: 10px;
}
section.about .left-box p{
    font-size: 17px;
}
section.about .left-box button{
    margin-top: 1px;
    padding: 7px 30px;
    border: #47b2e4 2px solid;
    color: #47b2e4;
    text-transform: capitalize;
    font-weight: 500;
}
section.about .left-box button:hover{
    color: #fff;
    background-color: #47b2e4;
}
/*======= End About us section =======*/

/*======= Start About info section =======*/
section.about-info{
    padding: 80px 0;
    background-color: #f3f5fa;
}
section.about-info .about-info-left-box h3{
    font-size: 33px;
    color: #37517e;
    padding-bottom: 1.5px;
}
section.about-info .about-info-left-box p{
    font-size: 15px;
    color: #848484;
}
section.about-info .about-info-left-box .accordion, .accordion-item, .about-info-left-box button, .about-info-left-box .collapse, 
section.asked .accordion, .accordion-item, section.asked button, section.asked .collapse{
    border: none;
}
section.about-info .about-info-left-box span, 
section.asked span{
    display: block;
    font-size: 18px;
    color: #47b2e4;
    margin-right: 10px;
    font-weight: 900;
}
section.about-info .about-info-left-box button,
section.asked button{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
section.about-info .about-info-left-box button:hover,
section.asked button:hover{
    color: #47b2e4;
}
section.about-info .about-info-left-box button.activ,
section.asked button.activ{
    color: #47b2e4;
    background-color: #fff;
}
section.about-info .about-info-left-box button:focus,
section.asked button:focus{
    box-shadow: none;
    background-color: #fff;
    color: #47b2e4;
}
section.about-info .about-info-left-box .accordion-item,
section.asked .accordion-item{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}
section.about-info .abou-info-right-box .about-info-img img{
    width: 100%;
}
/*======= End About info section =======*/

/*======= start skills section =======*/
section.skills{
    padding: 80px 0;
    background-color: #fff;
}
section.skills .skills-left .skills-img img{
    width: 100%;
}
section.skills .skills-right .skills-title h3{
    font-weight: 700;
    font-size: 35px;
    color: #37517e;
}
section.skills .skills-right .skills-title p{
    color: #444444e1;
    font-size: 17px;
}
section.skills .skills-right .progress-title{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
section.skills .skills-right .progress-title span{
    color: #4668a2;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
section.skills .skills-right .skill-content{
    padding-bottom: 25px;
}
section.skills .skills-right .skill-content .progress{
    height: .6rem;
}
section.skills .skills-right .skill-content .progress-bar{
    background-color: #4668a2;
}
/*======= End skills section =======*/

/*======= Start services section =======*/
section.services{
    padding: 60px 0;
    background-color: #f3f5fa;
}
section.services p{
    color: #444444e1;
}
section.services .services-box{
    margin-bottom: 15px;
    padding: 50px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    transition: all .5s ease-in-out;
}
section.services .services-box:hover{
    transform: translateY(-10px);
}
section.services .services-box:hover a{
    color: #47b2e4;
}
section.services .services-box i{
    font-size: 30px;
    color: #47b2e4;
    margin-bottom: 10px;
}
section.services .services-box a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #37517e;
    text-transform: capitalize;
}
/*======= End services section =======*/

/* =====Start action section===== */
section.to-action{
    padding: 100px 0 70px;
    background:  linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../images/cta-bg.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
}
section.to-action .action-title h2{
    color: #fff;
    font-size: 27px;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 15px;
}
section.to-action .action-title p{
    color: #fff;
    margin: 15px 0;
}
section.to-action .act-button{
    padding: 40px 0;
    text-align: center;
}
section.to-action .act-button button{
    padding: 10px 50px;
    border: #fff 2px solid;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all .5s;
}
section.to-action .act-button button:hover{
    background-color: #47b2e4;
    border-color: #47b2e4;
}
/* =====Start action section===== */

/* =====Start portfolio section===== */
section.portfolio{
    padding: 60px 0;
}
section.portfolio .head-title p{
    color: #444444e1;
    font-size: 17px;
    margin-bottom: 40px;
}
section.portfolio .head-title button{
    padding: 0 17px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
section.portfolio .head-title button.active{
    background-color: #47b2e4;
    color: #fff;
    border-radius: 15px;
}
section.portfolio .row .app .app-img{
    margin-bottom: 30px;
    overflow: hidden;
}
section.portfolio .row .app .app-img img{
    max-width: 100%;
    transition: all .5s ease-in-out;
}
section.portfolio .row .app:hover img{
    transform: scale(1.2);
}
section.portfolio .row .app{
    position: relative;
}
section.portfolio .row .app .img-title{
    position: absolute;
    padding: 0 15px;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    background-color: #37517ed0;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
section.portfolio .row .app:hover .img-title{
    opacity: 1;
    visibility: visible;
}
section.portfolio .row .app .img-title i, .img-title h5, .img-title p{
    color: #fff;
}
section.portfolio .row .app .img-title i{
    padding: 20px 5px 0 5px;
}
section.portfolio .row .app .img-title i:hover{
    cursor: pointer;
    color: #47b2e4;
}
/* =====End portfolio section===== */

/* =====Start team section===== */
section.team{
    padding: 60px 0;
    background-color: #f3f5fa;
}
section.team p, section.team span{
    color: #444444e1;
    font-size: 17px;
}
section.team .card{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    transition: all .5s ease-in-out;
}
section.team .card:hover{
    transform: translateY(-10px);
}
section.team .card-img{
    padding: 25px;
}
section.team .card-img img{
    width: 100%;
    border-radius: 50%;
}
section.team .card-body h5{
    color: #37517e;
    font: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
section.team .card-body span{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
section.team .card-body span::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #cbd6e9;
}
section.team .card-body i{
    margin: 0 2px;
    display: inline-flex;
    width: 40px;
    height: 40Px;
    justify-content: center;
    align-items: center;
    color: #37517e;
    background-color: #f3f5fa;
    border-radius: 50%;
    transition: all .5s;
}
section.team .card-body i:hover{
    background-color: #47b2e4;
    color: #fff;
}
section.team .card-body a{
    text-decoration: none;
}
/* =====End team section===== */

/* =====Start pricing section===== */
section.pricing{
    padding: 60px 0;
    background-color: #fff;
}
section.pricing .card{
    border: none;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}
section.pricing .card .card-body{
    padding: 40px;
}
section.pricing .card .card-body h5, .card-body h4{
    color: #37517e;
}
section.pricing .card .card-body h5{
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    margin: 20px 0;
}
section.pricing .card .card-body h4{
    font-size: 45px;
}
section.pricing .card .card-body span{
    color: #47b2e4;
    display: block;
    margin-bottom: 50px;
}
section.pricing .card .card-body ul{
    list-style: none;
    margin-left: -25px;

}
section.pricing .card .card-body li{
    color: #444444e1;
    margin-bottom: 15px;
}
section.pricing .card .card-body li i{
    margin-right: 20px;
    color: #28a745;
}
section.pricing .card .card-body li.del, .card-body  i.fa-times{
    color: #9c9c9ce1 !important;
}
section.pricing .card .card-body .btn-primary{
    margin: 30px 0;
    background-color: transparent;
    color: #47b2e4;
    border: #47b2e4 1px solid;
    border-radius: 40px;
    padding: 12px 40px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .5s;
}
section.pricing .card .card-body .btn-primary:hover{
    color: #fff;
    background-color: #47b2e4;
}
section.pricing .card-active{
    border-top: #47b2e4 5px solid;
}
section.pricing .card-active .btn-primary{
    color: #fff !important;
    background-color: #47b2e4 !important;
}
/* =====End pricing section===== */

/* =====Start asked section===== */
section.asked{
    padding: 60px 0;
    background-color: #f3f5fa;
}
section.asked p{
    font-size: 17px;
    color: #555555e1;
}
section.asked .accordion-body{
    font-size: 18px;
    color: #555555e1;
}

section.asked .accordion-item{
    margin-bottom: 25px;
}
section.asked .accordion-item i{
    font-size: 1.3rem;
}
/* =====End asked section===== */

/* =====start contact section===== */
section.contact{
    padding: 60px 0;
    background-color: #fff;
}
section.contact p{
    color: #555555e1;
    font-size: 17px;
}
section.contact .location-title{
    display: flex;
    margin: 20px 0;
}
section.contact .location-title h3{
    color: #37517e;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}
section.contact .location-title span{
    color: #6182ba;
}
section.contact .location-title .location-content{
    margin-left: 20px;
}
section.contact .location-title .location-icon i{
    font-size: 1.1rem;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #e7f5fb;
    color: #47b2e4;
    border-radius: 50%;
    transition: all .5s;
}
section.contact .location-title:hover i{
    background-color: #47b2e4;
    color: #fff;
}
section.contact input, textarea{
    width: 100%;
    margin-bottom: 10px;
}
section.contact input, section.contact textarea{
    padding: 10px;
    outline: 0;
}
@media screen and (max-width: 576px) {
    
}
section.contact .form-box, .location-box{
    padding: 30px;
    border-top: #47b2e4 5px solid;
    border-bottom: #47b2e4 5px solid;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
}
section.contact .form-box .send-btn{
    text-align: center;
}
section.contact .form-box .send-btn .btn-primary{
    background-color: #47b2e4;
    border: none;
    padding: 12px 45px;
    border-radius: 50px;
    text-transform: capitalize;
}
/* =====End contact section===== */

/* =====Start sub section===== */
section.sub{
    padding: 60px 0;
    background-color: #f3f5fa;
    text-align: center;
}
section.sub h2{
    color: #37517e;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
}
section.sub p{
    margin: 15px 0;
    color: #555555e1;
    font-size: 18px;
}
section.sub .in-sub{
    margin: auto;
    width: 60%;
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
}
section.sub .in-sub input:first-child{
    border: 0;
    outline: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
section.sub .in-sub input:last-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 17px;
    text-transform: capitalize;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
@media (max-width: 576px){
    section.sub .in-sub{
        margin: auto;
        width: 100%;
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        border-radius: 50px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
    }
    section.sub .in-sub input:first-child{
        border: 0;
        padding: 4px 8px;
        width: 100%;
    }
    section.sub .in-sub input:last-child{
        font-size: 17px;
        text-transform: capitalize;
        padding: 0 20px;
        background: #47b2e4;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    }
}
/* =====End sub section===== */

/* =====Start footer section===== */
footer.end-sec{
    padding: 60px 0;
    background-color: #fff;
}
footer.end-sec .box{
    padding: 10px;
}
footer.end-sec .box h3, h6{
    color: #37517e;
    font-weight: 700;
    margin-bottom: 20px;
}
footer.end-sec .box p, a{
    color: #555555e1;
}
footer.end-sec .box-1 h3{
    text-transform: uppercase;
}
footer.end-sec .box h6{
    text-transform: capitalize;
}
footer.end-sec .box ul{
    list-style: none;
    padding-left: 15px;
}
footer.end-sec .box ul li{
    margin-bottom: 10px;
}
footer.end-sec .box ul i{
    color: #47b2e4;
    margin-right: 15px;
}
footer.end-sec .box ul li:hover a{
    color: #47b2e4;
}
footer.end-sec .box ul a{
    text-decoration: none;
}
footer.end-sec .box-4 .card-icons i{
    margin: 0 5px;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #47b2e4;
    color: #fff;
    border-radius: 50%;
}
footer.end-sec .box-4 .card-icons a{
    text-decoration: none;
}

/* =====End footer section===== */
section.copyright{
    padding: 20px 0;
    background-color: #37517e;
}
section.copyright p{
    color: #fff;
}
section.copyright a{
    text-decoration: none;
    color: #47b2e4;
}
/* ======================End=========================== */
/* ======================End=========================== */
